
<div class="row">
    <div class="col-sm-3" *ngFor="let movie of moiveInfo">
        <div class="card mb-2 mt-4">
            <div class="imgfig">
                <img src="{{Img_path}}{{movie.poster_path}}" alt="" class="img-fluid">
                <div class="overview">
                    <h3>ovierView</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero laborum quis placeat veniam reiciendis esse blanditiis, quod officia neque corporis temporibus id exercitationem minima impedit at consectetur deleniti repellendus perspiciatis.</p>
                    <app-is-liked></app-is-liked>
                </div>
                <div class="card-body">
                   
                    <div class="card-text">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="card-text">
                                    {{movie.title}}
                                </div>
                               
                            </div>
                            <div class="col-sm-3 d-flex flex-direction-between" >
                                <div class="rating text-right p-1" [ngClass]="{'text-danger': movie.vote_average < 4, 'text-warning' : movie.vote_average < 7, 'text-success' :
                                movie.vote_average < 10}">
                                    {{movie.vote_average}}
                                </div>
                               
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
           
        </div>
    </div>
</div>
